NODE_ENV=development

PORT=5080

DB_HOST=localhost
DB_PORT=5432
DB_NAME=myshops_commerce
DB_USER=postgres
DB_PASSWORD=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

ADMIN_WEB_URL=http://localhost:3001
PUBLIC_WEB_URL=http://localhost:3000